
.nav {
    background-color: var(--sec-back);
    box-shadow: var(--nav-shadow);
    font-family: Anton, 'sans-serif';
    font-size: 2rem;
    color: var(--pri-font);
    display: flex;
    align-items: center;  
    padding: 2rem;
}

/* Main Shivendu Yoga Center website */
.logo {
    display: flex;
    justify-self:self-start;
    width: 7rem;
    border-radius: 50%;
}

.nav__link--container {

    margin: 0 auto;
}
.nav__link {
    padding: 0 2rem;
    text-decoration: none;
}

.nav__link:active, .nav__link:visited, .nav__link:link {
    color: var(--pri-font);
    letter-spacing: 1.1px;
    transition: all .4s ease-in-out;    
    text-transform: uppercase;
}

.nav__link:hover {
    background-color: var(--sec-font);
    color: white;
    border-radius: 0.75rem;
}

