*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange-color: #fa8142;
    --green-color: #09c372;
    --purple-color: #9166cc;
    --pri-back: #dbe1e8;
    --sec-back: #fff;
    --pri-font: #454e56;
    --sec-font: #12181b;
    --nav-shadow: .4rem 0 1rem -.3rem #c1c1c1;
    --card-shadow: 0 4px 8px rgba(0,30,84,0.12);
}
 html{
    font-size: 62.5%; 
} 

/* Slider Component styles */

.slider__section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--pri-back);
}
.slider{
    border-radius: .5rem;
    cursor: pointer;
    border: 1rem solid var(--sec-back);
    position: relative; 
    width: 50%;
    margin: auto;  
    overflow: hidden; 
    box-shadow: var(--nav-shadow);  
}

.slide__container {
    display: flex;
    width: 100%;
    max-height: 40rem;
    position: relative;
    border-radius: 1rem;
}

.slide__image {
    width: 100%;
}
.slider__btn{
    top: 50%; 
    position: absolute;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    padding: 1.3rem 1.5rem;
    z-index: 100;
    cursor: pointer;
    box-shadow: 0 1rem 4.5rem rgba(0, 0, 0, 0.712);
    transition: all .5s;
}

.btn__prev{
    left: 5%;  
    transform: translate(-50%, -50%);
}
.btn__next{
    right: 5%;    
    transform: translate(50%, -50%);
}

.arrow__prev{
    transition: all .5s;
    width: 2.5rem;
    height: 2.5rem;
    transform: rotateZ(90deg);
}

.arrow__next{
    transition: all .5s;
    width: 2.5rem;
    height: 2.5rem;
    transform: rotateZ(-90deg);
}

.arrow__next:hover {
    transform: rotateZ(-90deg) translateY(.3rem);
}
.arrow__prev:hover {
    transform: rotateZ(90deg) translateY(.3rem);
}



div.points-pic{
    display: flex;
}

/* div.list-style{
    display: flex;
    align-items: center;
} */

.questions{
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}

.ques{
    margin-bottom: 2rem;
}

.explaination{
    display: flex;
    align-items: center;
}

.list-style{
    margin: 1rem;
    margin-top: 2rem;
}

.point-para{
     margin: 1rem;
     margin-left: 4rem;
 }

 p.ans{
    margin-top: 2rem;
}

.ans-img{
    height: 35rem;
    width: auto;
    margin-top: 4rem;
    cursor: pointer;
}

.yoga{
    width: 100%;
    height: 100%;
}

#bullets{
    background-color: rgb(215 231 244);
    border: 3px solid black;
    padding: 0.5rem;
    border-radius: 50%;
}

.points{
    margin-left: 1rem;
}

h2.available{
    text-align: center;
}

.points-pic{
    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 15rem;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

:root{
    --primary: hsla(207, 40%, 43%, 0.65);
    --secondary: hsla(0, 0%, 100%, 0.65);
}

.yoga-price{
    height: 30rem;
    width: 100%;
    margin-top: 1rem;
    background-image: linear-gradient(135deg, var(--primary), var(--secondary)),
                      url(/Assets/Images/Img3.PNG);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 45% 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Starting-price{
    font-size: 4.7rem;
    margin-top: 10rem;
    font-family: 'Nunito', sans-serif;
}

.explore{
    background-color: steelblue;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 1rem 4.5rem rgba(0, 0, 0, 0.712);
}

.explore a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.availability{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.available{
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
}

.line{
    height: 5rem;
    width: 35rem;
}

.options{
    margin-left: -7%;
    margin-top: 3rem;
}

.options ul{
    display: flex;
}

.options ul li{
  list-style: none;
  padding-left: 10rem;
  font-size: 1.5rem;
  font-family: 'Architects Daughter', cursive;
}

.Find{
    margin-left: 15rem;
    font-family: 'Kanit', sans-serif;
}

.Find h2{
    font-size: 3rem;
}

.Find p{
    font-size: 1.8rem;
}

.Aasan1{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.count h2{
    margin-left: 2rem;
    font-size: 5rem;
    border-bottom: solid 0.25rem black;
    font-family: 'Lexend Deca', sans-serif;
}

.Aasan1 img{
    margin-left: 3rem;
    margin-right: 2rem;
    height: 25rem;
    width: auto;
}

.Aasan1 .Aasan-para1 h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'Kanit', sans-serif;
}

.Aasan1 .Aasan-para1 p{
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}

.Aasan-para1 ul li{
    font-size: 1.3rem;
    margin-left: 1.4rem;
    font-family: 'Kanit', sans-serif;
    list-style: georgian; 
}

.Aasan2{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    flex-direction: row-reverse;
    margin-left: -10rem;
}

.count h2{
    margin-left: 2rem;
    font-size: 5rem;
    border-bottom: solid 0.25rem black;
    font-family: 'Lexend Deca', sans-serif;
}

.Aasan2 img{
    margin-left: 3rem;
    margin-right: 2rem;
    height: 25rem;
    width: auto;
}

.Aasan2 .Aasan-para2 h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'Kanit', sans-serif;
}

.Aasan2 .Aasan-para2 p{
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}

.Aasan-para2 ul li{
    font-size: 1.3rem;
    margin-left: 1.4rem;
    font-family: 'Kanit', sans-serif;
    list-style: georgian; 
}

.Aasan3{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-left: -28rem;
}

.count h2{
    margin-left: 2rem;
    font-size: 5rem;
    border-bottom: solid 0.25rem black;
    font-family: 'Lexend Deca', sans-serif;
}

.Aasan3 img{
    margin-left: 3rem;
    margin-right: 2rem;
    height: 35rem;
    width: auto;
}

.Aasan3 .Aasan-para3 h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'Kanit', sans-serif;
}

.Aasan3 .Aasan-para3 p{
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}

.Aasan-para3 ul li{
    font-size: 1.3rem;
    margin-left: 1.4rem;
    font-family: 'Kanit', sans-serif;
    list-style: georgian; 
}

.aspire{
    display: flex;
    margin: 5rem 30rem;
    background-color: rgb(149, 199, 240);
    height: 34rem;
    width: auto;
}

.aspire .aspire-para{
    font-size: 1.5rem;
    padding: 3rem 7rem 3rem 7rem;
    font-family: 'Kanit', sans-serif;
}

.aspire .aspire-img img{
    height: 34rem;
    width: auto;
}

.training-programs{
    margin-left: 20rem;
    margin-bottom: 5rem;
    font-family: 'Kanit', sans-serif;
   }

.training-programs .yoga-program{
    font-size: 4rem;
    color: rgb(68, 65, 65);
    border-bottom: solid 0.25rem rgb(68, 65, 65) ;
}

.training-programs .program-detail{
    margin-top: 2rem;
    font-size: 2rem;
    color: rgb(68, 65, 65);
}

.instructor{
    font-size: 3rem;
    color: rgb(68, 65, 65);
    margin-left: 20rem;
    font-family: 'Kanit', sans-serif;
    border-bottom: solid 0.25rem rgb(68, 65, 65) ;
}

.sorabh{
    box-shadow: 0 1rem 4.5rem rgba(0, 0, 0, 0.712);
    margin: 0 1rem;
}

.instructor1{
    display: flex;
    font-size: 2rem;
    color: rgb(68, 65, 65);
    margin-left: 5rem;
    margin-top: 5rem;
    font-family: 'Kanit', sans-serif;
    
}

.sorabh-details{
    display: flex;
    margin: 1rem 5rem 5rem 5rem;
    padding-bottom: 1rem;
}

.number{
    border-bottom: solid 0.25rem rgb(68, 65, 65);
}

.sorabh1{
    margin-left: 2rem;
    cursor: pointer;
}

.sorabh1:hover{
    transform: translate(0, -0.8rem);
    transition-duration: 0.5s;
    /* transition-delay: 0.1s; */
    /* transition-timing-function: ease-in-out; */
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.25rem;
    text-decoration-color: rgb(68, 65, 65);
}

.sorabh-info{
    margin: 0rem 3rem;
    font-size: 1.3rem;
    font-family: 'Kanit', sans-serif;
}

.sorabh-points{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.sorabh-img{
    height: 55rem;
    width: auto;
}

.naresh{
    box-shadow: 0 1rem 4.5rem rgba(0, 0, 0, 0.712);
    margin: 0 1rem;
}

.instructor2{
    display: flex;
    font-size: 2rem;
    color: rgb(68, 65, 65);
    margin-left: 5rem;
    margin-top: 5rem;
    font-family: 'Kanit', sans-serif;
    
}

.naresh-details{
    display: flex;
    margin: 1rem 5rem 5rem 5rem;
    padding-bottom: 1rem;
}

.number{
    border-bottom: solid 0.25rem rgb(68, 65, 65);
}

.naresh1{
    margin-left: 2rem;
    cursor: pointer;
}

.naresh1:hover{
    transform: translate(0, -0.7rem);
    transition-duration: 0.5s;
    /* transition-delay: 0.1s; */
    /* transition-timing-function: ease-in-out; */
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.25rem;
    text-decoration-color: rgb(68, 65, 65);
}

.naresh-info{
    margin: 0rem 3rem;
    font-size: 1.3rem;
    font-family: 'Kanit', sans-serif;
}

.naresh-points{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.naresh-img{
    height: 55rem;
    width: auto;
}

.shivendra{
    background-color: #e6c9c4;
    display: flex;
}

.shivendu-pic{
    height: 30rem;
    width: auto;
    border: 0.25rem solid var(--pri-back);
    border-radius: 90%;
    margin: 2rem;
}

b{
    font-size: 2rem;
}

.shivendra-1{
    margin-left: 3rem;
    margin-top: 10rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

.shivendra-2{
    margin-left: 3rem;
    margin-top: 10rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}









